@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property:
    color,
    background-color,
    border-color,
    transform,
    opacity,
    box-shadow;

  transition-duration: 200ms;

  transition-timing-function: ease;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

body {
  background: #0B1020;
  color: white;
  margin: 0;
  font-family: Inter, sans-serif;
}